:root {
    --primary-color: #48B3A7;
    --secondary-color: #BFE2DB;
    --accent1-color: #F6B81A;
    --accent2-color: #202122;
    --link-color: #056d61;
    --heading-font: Roboto;
    --text-font: Bitter;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color);
    display: grid;
    grid-template-columns: 225px 1fr;
    align-items: center;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: var(--heading-font);
    justify-content: space-around;
    padding: 0;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    text-align: center;
    color: var(--accent2-color);
    padding: 10px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;
    outline: 2px outset black;
    background-color: var(--secondary-color);

}

.navigation a:hover {
    color: orangered;
    font-weight: 700;
    text-decoration: underline;

}


header img {
    width: 200px;
    border: #202122 solid 3px;
    margin: 10px;
    box-shadow: 3px 3px 3px black;

}

body {
    font-family: var(--text-font);
    color: var(--accent2-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    font-weight: bolder;
    color: var(--accent2-color);
    text-align: center;
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}


.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: 3px 3px 3px black;
    margin-top: 20px;

}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.9;
    background: var(--accent1-color);
    color: var(--accent2-color);
}

.hero article {
    position: absolute;
    width: 75%;
    top: 85px;
    background-color: var(--secondary-color);
    margin-left: 105px;
}

.hero article img {
    float: right;
    width: 125px;
    margin: 10px
}

.hero article p {
    padding: 35px;

}

.hero article p a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--link-color);


}

.hero article p a:hover {
    color: orangered;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.history img {
    width: 275px;
    align-self: center;
    margin: 0 auto;
}

.history h2 {
    grid-column: 1/5;

}

.history p {
    justify-content: center;
    align-items: center;

}

.history p a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--link-color);
}

.history p a:hover {
    color: orangered;
}


.gallery  {
    display:grid;
    align-content: center;
   
}

.gallery h2 {
    text-align: center;
    grid-column: 1/6;
    margin-bottom: 20px;
}

.gallery img {
    width: 150px;
    align-content: baseline;
    margin: 5px;
}

.gallery figcaption {
    text-align: left;
    margin-top: 0;
    margin-left: 5px;
    padding-top: 0;
    font-family: var(--text-font);
    font-size: .75rem
}

footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--secondary-color);
    font-weight: 500;
}

.socialmedia img {
    width: 50px;

}

/* start styles for about page here: */

.contacth1{
    position:relative;
    width: 840px;
    justify-self: center;
    margin-bottom: 25px;
}

.aboutpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

}

.aboutpage h2 {
    justify-content: center;
}

.staffbios {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    border: 2px solid var(--link-color);
    border-radius: 10px;
   
}

.staffbios img
 {
    align-items: baseline;
    width: 300px;
    margin: 10px;
    box-shadow: 3px 3px 3px black;

}

.staffbios figcaption{
    margin: 15px;
}

.location {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--secondary-color);
    border: 2px solid var(--link-color);
    border-radius: 10px;
    justify-self: center;
    ;

}

.location address {
    padding: 10px;
    font-style: normal
}

.location iframe {
    margin: 10px;
    border: 2px solid var(--link-color);
    border-radius: 10px;
     box-shadow: 3px 3px 3px black;

}

form {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    border: 2px solid var(--link-color);
    border-radius: 10px;
    background-color: var(--secondary-color);
    padding: 10px 10px 15px 10px;
    justify-self: center;
}

legend {
    font-family: var(--heading-font);
    color: var(--accent2-color);
    font-size: 1.2rem;
    font-weight: 700;
    padding: 5px;

}

.contactus {
    font-size: 1.6rem;
    text-align: center;

}

input {
    border-radius: 10px;
}

fieldset {
    border: none;
    display: grid;
    padding: 10px;


}

textarea {
    font-family: var(--text-font);
    font-size: 1rem;
    border-radius: 10px;
    padding: 5px;
}

.radio {
    padding-bottom: 15px
}


button {
    padding: 10px;
    margin-top: 15px;
    font-family: var(--heading-font);
    font-weight: 800;
    font-size: 1.2rem;
    color: white;
    background-color: var(--accent2-color);
    border: none;
    border-radius: 10px;
    width: 250px;
    justify-self: center;
}

button:hover {
    background-color: var(--link-color);
}