:root {
    --heading-font: "Verdana", sans-serif;
    --heading-text-color: rgb(160, 7, 7);
    --heading-background-color: rgb(177, 172, 172);
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 

}

nav {
    background-color: rgb(160, 7, 7);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--heading-text-color);
    font-family: var(--heading-font);
    font-size: 3rem;
    background-color: var(--heading-background-color);
    text-align: center;
    padding: var(--padding);

}

main img {
    float: right;
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;


}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    bottom: 250px;
    left: 175px;

}

footer {
    margin-top: 15px;
    border-top: 3px dotted black;
    text-align: center;
}

/* Class Selectors */

.box {
    margin: 1rem;
    padding: 1rem;
    background-color: lightblue;
    color: darkblue;

}